.bar {
  position: absolute;
  height: 1em;
  background-color: white;
  width: 0%;
  transition-property: width;
  transition-timing-function: ease-in;
}

.all {
  width: 100%;
  background-color: gray;
}
