/* You can add global styles to this file, and also import other style files */

body {
  font-family: "Courier New", "Noto Sans Mono CJK", monospace;
  background: black;
  color: white;
}

span {
  white-space: pre;
}
